/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: $footer-bg;
  padding: 30px 0;
  color: set-color-text($footer-bg);
  
  .copyright {
    text-align: center;
  }
  
  .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: set-color-text($footer-bg);
  }
}