{#
/**
 *
*/
#}

<nav id="nav-menu-container">
  <ul class="nav-menu">
    <li class="menu-active"><a href="#hero">Home</a></li>
    <li><a href="#about">Coaching &amp; Advies</a></li>
    <li><a href="#services">Wie ben ik</a></li>
    <li><a href="#portfolio">Getuigenissen</a></li>
    <li><a href="#contact">Contact Us</a></li>
  </ul>
</nav><!-- #nav-menu-container -->