// /////////////////////////
// @@ PROJECT TEASER
// ////////////////////////

// the class project--page added to the view under advanced
// this to only address this view-content
.project--page {
  .view-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    .project__view {
      min-height: 200px;
      justify-self: center;
      h3 {
        font-size: 1.6rem;
        line-height: 0.8rem;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

