<div id="preloader"></div>
  

  
<!--==========================
  Header Section
============================-->
  <header id="header">
    <div class="container">
    
      <div id="logo" class="pull-left">
        <a href="#hero"><img src="{{ base_path ~ directory }}/images/logo.png" alt="" title="" /></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>
        
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="/#about">Coaching &amp; Advies</a></li>
          <li><a href="/#services">Wie ben ik</a></li>
          <li><a href="/#portfolio">Getuigenissen</a></li>
          <li><a href="/#contact">Contact Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


<!--==========================
  Content Section
============================-->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 content-wrap">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>


  
<!--==========================
  Footer
============================--> 
  <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              &copy; Copyright <strong>footer</strong>. All Rights Reserved
            </div>
            <div class="credits">
             <p>Design door Vandenborne Stefaan</p>
            </div>
          </div>
        </div>
      </div>
  </footer><!-- #footer -->
  
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    
